body {
    font-family: 'Prompt', sans-serif;
}

section {
    background-color: white;
}

.hero {
    background-color: #2B2828;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 30px;
    margin: 30px;
}

ul.show {
    display: block;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 10;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    justify-content: space-evenly;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 170px;
    height: 42px;
    border-radius: 50px;
    background-color: #224264;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
}

.button:hover {
    background-color: #255281;
}

.button:active {
    background-color: #292E34;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 100px;
    margin: 30px;
}

.social {
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 225px;
    border-radius: 200px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #255281;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
    }

    ul {
    display: none;
    background-color: #3d3939;
    margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        align-items: flex-start;
        flex-direction: column-reverse;
        background-color: #3d3939;
    }

    .logo {
        display: none;
    }
}
